#NET "A_28" LOC="P16";
#INST "XLXI_2" LOC="FB1";
INST "IBUFA_A" LOC="P74,P76,P77,P78,P79,P80";
INST "IBUFA_B" LOC="P81,P82,P85,P86,P87,P89,P90,P91,P92,P93,P94,P95,P96,P97";
#INST "IBUF_nRESET" LOC="FB1";
#INST "IBUF_SYSCLK" LOC="FB1";
INST "IBUF_SIZ0" LOC="P13";
INST "IBUF_SIZ1" LOC="P14";
NET "nAS_EXT" LOC="P23";
NET "SYSCLK_EXT" LOC="P22";
NET "nCLK"       LOC="P27";
INST "DI_BUF" LOC="FB5,FB6";
INST "DO_BUF" LOC="FB5,FB6";
INST "DO_BUF" FAST;
NET "D_EXT<0>" LOC="P46";
NET "D_EXT<1>" LOC="P50";
NET "D_EXT<2>" LOC="P52";
NET "D_EXT<3>" LOC="P53";
NET "D_EXT<4>" LOC="P54";
NET "D_EXT<5>" LOC="P55";
NET "D_EXT<6>" LOC="P56";
NET "D_EXT<7>" LOC="P58";
NET "nRAMCS"   LOC="P59";
NET "nFLASHCS" LOC="P60";
NET "nBOOTCS"  LOC="P61";
NET "n68561CS" LOC="P63";
NET "n68230CS" LOC="P64";
# FC stuff does not fit :(
#NET "FC0" LOC="P29";
#NET "FC1" LOC="P30";
#NET "FC2" LOC="P32";
# Interrupt stuff does not fit :(
#NET "nIPL0" LOC="P33";
#NET "nIPL1" LOC="P34";
#NET "nIPL2" LOC="P35";
#NET "nIPEND" LOC="P36";
#NET "nAVEC" LOC="P37";
#Created by Constraints Editor (xc95108-tq100-7) - 2023/01/21
INST "A_EXT<0>" TNM = ADDR;
INST "A_EXT<1>" TNM = ADDR;
INST "A_EXT<2>" TNM = ADDR;
INST "A_EXT<3>" TNM = ADDR;
INST "A_EXT<4>" TNM = ADDR;
INST "A_EXT<5>" TNM = ADDR;
INST "A_EXT<6>" TNM = ADDR;
INST "A_EXT<7>" TNM = ADDR;
INST "A_EXT<8>" TNM = ADDR;
INST "A_EXT<9>" TNM = ADDR;
INST "A_EXT<10>" TNM = ADDR;
INST "A_EXT<11>" TNM = ADDR;
INST "A_EXT<12>" TNM = ADDR;
INST "A_EXT<13>" TNM = ADDR;
INST "A_EXT<14>" TNM = ADDR;
INST "A_EXT<15>" TNM = ADDR;
INST "A_EXT<16>" TNM = ADDR;
INST "A_EXT<17>" TNM = ADDR;
INST "A_EXT<18>" TNM = ADDR;
INST "A_EXT<19>" TNM = ADDR;
INST "A_EXT<20>" TNM = ADDR;
INST "A_EXT<21>" TNM = ADDR;
INST "A_EXT<22>" TNM = ADDR;
INST "A_EXT<23>" TNM = ADDR;
INST "A_EXT<24>" TNM = ADDR;
INST "A_EXT<25>" TNM = ADDR;
INST "A_EXT<26>" TNM = ADDR;
INST "A_EXT<27>" TNM = ADDR;
INST "A_EXT<28>" TNM = ADDR;
INST "A_EXT<29>" TNM = ADDR;
INST "A_EXT<30>" TNM = ADDR;
INST "A_EXT<31>" TNM = ADDR;
NET "SYSCLK_EXT" TNM_NET = SYSCLK_EXT;
TIMESPEC TS_SYSCLK_EXT = PERIOD "SYSCLK_EXT" 40 ns HIGH 50%;
TIMEGRP "ADDR" OFFSET = IN 40 ns VALID 40 ns BEFORE "SYSCLK_EXT" RISING;
INST "D_EXT<0>" TNM = DATA;
INST "D_EXT<1>" TNM = DATA;
INST "D_EXT<2>" TNM = DATA;
INST "D_EXT<3>" TNM = DATA;
INST "D_EXT<4>" TNM = DATA;
INST "D_EXT<5>" TNM = DATA;
INST "D_EXT<6>" TNM = DATA;
INST "D_EXT<7>" TNM = DATA;
TIMEGRP "DATA" OFFSET = IN 40 ns VALID 40 ns BEFORE "SYSCLK_EXT" RISING;
INST "nECS_EXT" TNM = ECS;
INST "nOCS_EXT" TNM = ECS;
TIMEGRP "ECS" OFFSET = IN 10 ns VALID 40 ns BEFORE "SYSCLK_EXT" FALLING;
#Created by Constraints Editor (xc95108-tq100-7) - 2023/01/21
INST "nDSACK0" TNM = DSACK;
INST "nDSACK1" TNM = DSACK;
TIMEGRP "DSACK" OFFSET = OUT 40 ns AFTER "SYSCLK_EXT";
NET "n68230CS" OFFSET = OUT 40 ns AFTER "SYSCLK_EXT";
