#NET "A_28" LOC="P16";
#INST "XLXI_2" LOC="FB1";

#INST "IBUFA_A" LOC="FB2";
#INST "IBUFA_B" LOC="FB2,FB3";
#INST "IBUF_nRESET" LOC="FB1";
#INST "IBUF_SYSCLK" LOC="FB1";
INST "IBUF_SIZ0" LOC="P13";
INST "IBUF_SIZ1" LOC="P14";
NET "RnW" LOC="P15";
INST "DI_BUF" LOC="FB3,FB4";
INST "DO_BUF" LOC="FB3,FB4";
#INST "DO_BUF" SLEW="FAST";
